.wrapper {
  height: 100%;
}

.name {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline-end: -15px;

  button {
    svg {
      font-size: 1.4rem;
    }

    margin-inline-start: 0.5em;
  }

  input {
    flex: 1;
    background: none;
    outline: none !important;
    padding: 10px 0;
  }

  &.view {
    cursor: pointer;
  }

  &.edit {
    background: var(--color-primary);
    color: var(--color-fg);
    border-radius: 5px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .name {
    display: inline-flex;
  }
}
