.item {
  display: block;
  text-align: left;
  padding: 3px 15px;
  position: relative;

  &:not(.compact) {
    margin-block-start: 10px;
  }

  &:hover {
    background: var(--color-bg);

    .actions {
      display: block;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-fg-soft);
  margin-block-end: 5px;
  padding-block-start: 5px;
  font-size: 0.8rem;

  & > * {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-inline-end: 10px;
    }
  }
}

.message {
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 50px;
  overflow: hidden;
  user-select: text;

  .actions {
    display: none;
    position: absolute;
    right: 0;
    top: 2px;
  }

  a {
    display: inline;
    white-space: unset;
    font-weight: bold;
  }
}

.more {
  position: absolute;
  bottom: 0;
  inset-inline: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: var(--color-fg);
  padding: 10px 0;

  &:hover {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.expanded .message {
  max-height: unset;
}
